doctype html
html(lang="en")
    head
        title= htmlWebpackPlugin.options.title
        link(href='//fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')
        link(href='//cdn.muicss.com/mui-0.6.8/css/mui.min.css', rel='stylesheet', type='text/css')
    body
        #app
        script(src='/public/javascripts/bundle.js')
